
li, a, button {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #1d2532;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}

.logo {
  cursor: pointer;
  width: 225px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: white;
}

button {
  padding: 10px 25px;
  color: white;
  background-color: #1d2532;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #283554;
  opacity: 0.8;
}
